body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cvContainer{
  border: 1px solid;
  margin: 0 auto;
  width: 500px;
  border-radius: 10px;
}

.cvHeader{
  border: 1px solid;
  text-align: center;
  font-size: 2em;
}

.info{
  border: 1px solid;
  width: 300px;
  margin: 0 auto;
}

#generalInfo, #experience{
  text-align: center;
}