 @import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@1,500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;1,500&display=swap');

input,
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* Container for the CV form */
.cv-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Heading styles */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
  font-family: 'Schibsted Grotesk', sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 44px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Schibsted Grotesk', sans-serif;
}

/* Form field styles */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #777;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* Submit button styles */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
